.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.movieCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}